body {
  background-color: #5c5d5e;
}

#dropdown-genres-button {
  background-color: black;
  border: 2px solid;
  border-color: white;
}

.dropdown-menu.show {
  background-color: black;
}

#navbar {
  background-color: black;
}
