body {
  background-color: #141414;
}

#navbar {
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /*background: rgb(8, 8, 8);*/
  /*background: linear-gradient(180deg, rgba(3, 3, 3, 1) 10%, rgba(20, 20, 20, 1) 50%);*/
  z-index: 10000000;
}

#navbar.scrolled {
  background: rgb(8, 8, 8);
  background: linear-gradient(180deg, rgba(3, 3, 3, 1) 10%, rgba(20, 20, 20, 1) 50%);
}

#trailer-caption {
  top: 30%;
  left: 10%;
  width: 400px;
  color: white;
}

#play-movie-btn {
  background-color: white;
  color: black;
  border: 0;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 600;
}

#info-movie-btn {
  background-color: rgb(95 95 95 / 84%);
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
}

#play-movie-btn:hover,
#info-movie-btn:hover {
  opacity: 85%;
}

.btn-group > .btn {
  background-color: #141414;
  border-color: white;
}

#dropdown-basic {
  background-color: #141414;
  border: 0;
}

#dropdown-menu .text-white {
  background-color: transparent;
}

#dropdown-menu .text-white:active {
  background-color: #000000;
  opacity: 80%;
}

#dropdown-genres-button {
  background-color: #141414;
  border: 2px solid;
  border-color: white;
}

.dropdown-menu.show {
  background-color: #141414d6;
  border: 1px solid;
  border-color: white;
}

#svg1,
#svg2 {
  border: 1px solid;
  border-color: #646464;
}
#svg1:hover,
#svg2:hover {
  border-color: white;
  cursor: pointer;
}

#navbar {
  background-color: #141414;
}

.dropdown-item {
  color: white;
}

#img-card {
  padding: 5px;
}

#img-card:hover {
  zoom: 4%;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}

#footer {
  background-color: #141414;
}
